<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="confirmation-wrap">
        <div class="confirmation-html">
            <h1>Confirmado</h1>
            <div class="confirmation-icon">&#10004;</div>
            <p>Se te enviará al correo ingresado una confirmación de cambio de contraseña.</p>
            <div class="foot-lnk">
                <a href="index.html">Volver al Login</a>
            </div>
        </div>
    </div>
</body>
</html>
